# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
---
name: Pull Request

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - edited
      - reopened
      - labeled
      - unlabeled
      - ready_for_review

permissions:
  contents: read

concurrency:
  group: ${{ format('{0}-{1}-{2}-{3}-{4}', github.workflow, github.event_name, github.ref, github.base_ref || null, github.head_ref || null) }}
  cancel-in-progress: true

jobs:
  approval:
    name: Approval
    environment: PR # this is used to enforce approval requirements in the GitHub UI
    runs-on: ubuntu-24.04
    steps:
      - name: Approve
        run: echo "Workflow was approved"

  check_changelog:
    needs: [approval]
    name: Check Changelog
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Check if changelog exists
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          filters: |
            exists:
              - added|modified: '.changes/unreleased/*.yaml'

      - name: Check changelog or skip
        env:
          SKIP_CHANGELOG: ${{ contains(github.event.pull_request.labels.*.name, 'state/skip-changelog') || github.actor == 'dependabot[bot]' }}
        run: |
          if [ "${SKIP_CHANGELOG}" = "true" ]; then
            exit 0
          elif [ "${{ steps.filter.outputs.exists }}" = "true" ]; then
            exit 0
          else
            echo "Changelog is missing. Please add a changelog entry running 'task project:changelog' and commit, or add the 'state/skip-changelog' label to skip this check."
            exit 1
          fi

  dependency_review:
    needs: [approval]
    name: Dependency Review
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Run Dependency Review
        uses: actions/dependency-review-action@3c4e3dcb1aa7874d2c16be7d79418e9b7efd6261 # v4.8.2

  check_semantic_pr_title:
    needs: [approval]
    name: Check PR title
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: read
    steps:
      - name: Run Semantic PR validation
        uses: amannn/action-semantic-pull-request@48f256284bd46cdaab1048c3721360e808335d50 # v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  linting_and_validation:
    needs: [approval]
    name: Linting and Validation
    runs-on: ubuntu-24.04
    container:
      image: ghcr.io/microsoft/caira-prebuilt-devcontainer:latest
      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Terraform validate
        run: |
          cd reference_architectures

          # get the list of subdirectories
          SUB_DIRS=$(ls -d ./*/)

          # loop through each subdirectory
          for subdir in $SUB_DIRS; do
            echo "Validating Terraform configuration in $subdir"

            cd "$subdir"
            terraform init
            terraform validate
            cd ..

          done

      - name: Generate docs
        run: task docs

      - name: Run linters
        run: task lint

      - name: Bot details
        if: github.event.pull_request.user.login == 'dependabot[bot]'
        id: bot-details
        uses: raven-actions/bot-details@ee8966a9ff6e7e42cbfc4a56b4ddb60a9d1b40a6 # v1.2.0
        with:
          bot-slug-name: dependabot

      # if the author is dependabot, commit potential changes back to the branch
      - name: Dependabot auto-commit (docs)
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        if: github.event.pull_request.user.login == 'dependabot[bot]'
        with:
          commit_message: "docs: automatic updates"
          commit_user_name: ${{ steps.bot-details.outputs.name }}
          commit_user_email: ${{ steps.bot-details.outputs.email }}
          commit_options: "--no-verify --signoff"

      # if the author is not dependabot, check for differences and fail if there are any
      - name: Check for differences
        if: github.event.pull_request.user.login != 'dependabot[bot]'
        run: |
          git diff --compact-summary --exit-code || \
            (echo; echo "Unexpected difference. Run 'task docs' command and commit."; git diff --exit-code)

      - name: Build Site
        run: task site:build -- --strict

  success:
    needs:
      [
        check_changelog,
        dependency_review,
        check_semantic_pr_title,
        linting_and_validation,
      ]
    if: ${{ always() }}
    name: Pull Request Success
    runs-on: ubuntu-24.04
    steps:
      - name: Success
        run: |
          # check that every step passed
          if [[ "${{ needs.check_changelog.result }}" == "success" && "${{ needs.dependency_review.result }}" == "success" && "${{ needs.check_semantic_pr_title.result }}" == "success" && "${{ needs.linting_and_validation.result }}" == "success" ]]; then
            echo "All required checks passed."
          else
            echo "Some required checks did not pass."
            exit 1
          fi
